@import '../../utils/variables.scss';

.name-email-input {
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid $white-darker;
  padding: 0.5rem 3rem 0.2rem 0.2rem;
  font-size: 1rem;
  font-family: inherit;
  width: 100%;
  z-index: 1;

  @media (max-width: 1100px) {
    font-size: 0.7rem;
    margin-bottom: 2rem;
    padding: 0.5 1rem 0.2rem 0.2rem;
  }

  @media (max-width: 900px) {
    font-size: 0.7rem;
    margin-bottom: 2rem;
  }
  @media (max-width: 899px) {
    width: 100%;
  }

  &.dark {
    background-color: $black-dark;
    color: $white;
  }
  &.light {
    background-color: $white;
    color: $black-dark;
  }

  &:focus {
    outline: none;
  }

  &:focus::placeholder {
    transition: all 0.5s;
    opacity: 0;
  }

  &:not(:focus) + .label {
    opacity: 0;
  }
  &:focus + .label {
    transform: translateY(-2rem);
    font-size: 0.7rem;

    @media (max-width: 900px) {
      transform: translateY(-3rem);
      font-size: 0.5rem;
    }
  }
}

.label {
  position: absolute;
  z-index: 0;
  opacity: 0.5;
  margin-left: 3rem;
  left: 0;
  bottom: 0.5rem;
  cursor: text;
  transition: all 0.5s;
}

.subject-input {
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid $white-darker;
  padding: 0.5rem 1rem 0.2rem 0.2rem;
  font-size: 1rem;
  font-family: inherit;
  width: 100%;

  @media (max-width: 900px) {
    font-size: 0.7rem;
  }
  &.dark {
    background-color: $black-dark;
    color: $white;
  }
  &.light {
    background-color: $white;
    color: $black-dark;
  }

  &:focus::placeholder {
    transition: all 0.5s;
    opacity: 0;
  }

  &:not(:focus) + .label {
    opacity: 0;
  }
  &:focus {
    outline: none;
  }
  &:focus + .label {
    transform: translateY(-2rem);
    font-size: 0.7rem;
    @media (max-width: 900px) {
      transform: translateY(-1rem);
      font-size: 0.5rem;
    }
  }
}
.label {
  position: absolute;
  z-index: 0;
  opacity: 0.5;
  margin-left: 3rem;
  left: -2.5rem;
  bottom: 0.5rem;
  cursor: text;
  transition: all 0.5s;
}
