// colors
$black-darker: rgb(20, 20, 20);
$black-dark: rgb(29, 29, 29);
$black-dark-2: rgb(30, 30, 30);
$black-light: rgb(41, 41, 41);

$white: rgb(238, 238, 238);
$white-darker: rgb(170, 170, 170);

$yellowgreen: yellowgreen;
$crimson: crimson;
