@import '../../utils/variables.scss';

.projects {
  min-height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: all 1s;

  &.dark {
    background-color: $black-dark-2;
  }
  &.light {
    background-color: $white;
  }

  .title {
    margin: 3rem 0;
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    cursor: default;

    @media (max-width: 600px) {
      font-size: 2rem;
    }

    &.dark {
      color: $white;
    }

    &.light {
      color: $black-dark;
    }

    &::before {
      position: absolute;
      content: '';
      height: 8px;
      top: 80%;
      width: 10rem;
      opacity: 0.5;

      @media (max-width: 600px) {
        width: 6rem;
      }
    }

    &.dark::before {
      background-color: $yellowgreen;
    }

    &.light::before {
      background-color: $crimson;
    }
  }
  .container {
    width: 100%;
    min-height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
